[Desktop Entry]
Encoding=UTF-8
Version=0.0.1
Type=Application
Name=Pymp
Exec=/usr/bin/pymp.py
Icon=push-it
X-Window-Icon=pymp
X-Window-Icon-Dimmed=pymp
#X-Osso-Service=com.nokia.pymp
X-Osso-Type=application/x-executable